/* --- Add-ons --- */
#content-right div + h2 {margin-top: 20px !important; margin-bottom: 20px !important;}

/* --- Add-ons End --- */

html {
    margin: 0px;
    padding: 0px;
}
body {
    /*color: #333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    margin: 0px;
    padding: 0px;*/
}
div#banner {
    /* --- padding, commented-out --- */
    padding: 0px 10px;
    width:100%;
    /*background-image: url(http://library.newschool.edu/img/at.jpg);
    left: 0;
    height:100px;*/
    
}
.footerText {
    font-size: 75%;
}

/* Navigation bar Style */
/*#nav1 {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #efefef;
    top: 100px;
    position: absolute;
}
#nav1 ul {
    list-style: none;
    margin: 0;
    padding:0;
    padding:10px;
    padding-left: 18px;
    padding-right: 18px;
    background-image:none;
}
#nav1 ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding:0;
    vertical-align:middle;
    background-image:none;
    background-color: #EFEFEF;
    font-size: 90%;
    color: #666666;
}
#nav1 a {
    color: #CC0000;
    text-decoration: none;
}
#nav1 a:visited {
    color: #CC0000;
    text-decoration: none;
}
#nav1 a:hover {
    color: #CC0000;
    text-decoration: underline;
}*/
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.clearBoth {
    clear: both;
}
/* --- Main Div styles --- */
div#main {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    text-align:left;
    display: block;
    /*position: relative;*/
}
/*
.masthead {
    background-image: url(/images/img_masthead_2.jpg);
    background-repeat: no-repeat;
}
.masthead_bg {
    background-image: url(/images/img_masthead_bgrd_2.jpg);
}
.maststripe {
    background-image: url(/images/img_masthead_stripe.gif);
}
#header {
    margin:0px 0px;
    padding:0;
    display:block;
    width: 100%;
*/
/*
  height: 50px;
  overflow:hidden;
 */
    background-color: #fff;
    /* --- commented-out border --- */
/*
   border-top: 5px solid #000;
  border-bottom: 1px solid #000;
 */
    text-align:left;
}
#header h3 {
    text-align:left;
}
#header img {
    display:inline;
    vertical-align: bottom;
    padding-top: 2px;
}
#title {
    display: block;
    background-color:#FFF;
    text-align: left;
    color: #000;
    width:100%;
    position: fixed;
    z-index: 10;
    top: 150px;
}
/*#title h1 {
    margin:0;
    padding:0;
    font-size: 135%;
    font-weight: lighter;
}
#title h2 {
    margin:0;
    padding:0;
    font-size:115%;
    font-weight: lighter;
}*/
/* --- Main Content Div --- */
#contents {
    margin: 10px 0px;
/* -- border-top: 1px solid #000; taken out because of top line on content div-- 
    border-bottom: 1px solid #000;*/
/* z-index:3 */;
}
/* --- Table of Contents styles --- */
#tocWrapper {
    position: absolute;
    top:165px;
    left:8px;
}
#toc {
    /* --- width, margin --- */
    background-color: #fff;
	display:block;
	/*top:160px;*/
	width: 225px;
	height:70%;
	position: absolute;
	/*--- position used to be relative 4/31 AJ ---*/
	float:left;
	clear:left;
	padding-left: 2px;
	padding-right: 0px;
	padding-bottom: 10px;
	border-right: 1px solid #000;
    /* --- width, margin --- */
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 12px;
	font-size:75%;
	border:1px solid #999;
	overflow-y:auto;
	}

#toc.fixed {
  position: fixed;
  top: 0;
  height:70%;
  width: 220px;
  border: 1px solid #999;
  overflow-y:auto;
  font-size:75%;
  margin-bottom: 10px;
  padding-left: 2px;
}

#toc h3 {
    margin-top: 0px;
    margin-right: 8px;
    margin-bottom: 16px;
    margin-left: 0px;
}
#toc dt {
    margin: 3px;
    padding: 4px 0px;
    font-weight: normal;
}
#toc dd {
    margin-top: 3px;
    margin-left: 16px;
    /* padding: 4px 0px; */
}
#toc dd.submenu{margin-left:34px;}

#toc dt a:link, #toc dd a:link {
    color: #333;
    text-decoration: none;
}
#toc dt a:visited, #toc dd a:visited {
    color: #333;
    text-decoration: none;
}
#toc dt a:active, #toc dd a:active {
    color: #FF5721;
}
#toc dt a:hover, #toc dd a:hover {
    color: #FF5721;
}

a.pdflink:link {
    color: #333;
    text-decoration: none;
}
a.pdflink:visited {
    color: #333;
    text-decoration: none;
}
a.pdflink:hover {
    color: #FF5721;
}
a.pdflink:active {
    color: #FF5721;
}
/* --- EAD body --- */
#content-right {
    /* --- bg, width, margin --- */
    background-color: #fff;
    width: 100%;
    float: left;
    /* --- bg, width, margin --- */
    padding-top: 1px;
    padding-left:250px;
    /* --- padding --- */
    padding-right: 10px;
    text-align: left;
}
/* --- Typography --- 
h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;*/
     
}
#contents h3 {
    /*font-size: 115%;*/
    margin-top: 16px;
    margin-right: 8px;
    margin-bottom: 16px;
    margin-left: 3px;
}
/*h4 {
    font-size: 90%;
    margin: 24px 8px 4px 4px;
    padding:0;
    color: #555;
}
p {
    margin:8px;
}
dt {
    margin: 2px 8px;
    font-weight:bold;
     
}
dd {
    margin: 2px 16px
}*/
/* --- original was 16 pixels ------- */
br {
    margin:0;
    padding:0;
}
hr {
    border: 1.5px solid !important;
    color: #e82e21;
}
.summary dt {
    /*margin:16px 8px 0px 8px;*/
    margin-top: 18px;
    color: #555;
    font-size: 1rem !important;
}
.summary dd {
    /*margin: 0px 24px 12px 24px;*/
    font-size: 1rem !important;
}
.returnTOC {

    margin-top: 12px;
}
.returnTOC a:link {
    color: #e82e21;
    text-decoration: none;
}
.returnTOC a:visited {
    color: #e82e21;
    text-decoration: none;
}
.returnTOC a:active {
    color: #666666;
}
.returnTOC a:hover {
    color: #666666;
}
/* --- Emph styles ------- */
.smcaps {
    font-variant: small-caps;
}
.underline {
    text-decoration: underline;
}
/* --- Styles Index entry elements --- */
.indexEntry {
    display:block
}
/* ---- Table Styles --- */



/*tr.series {
    background-color: #fff;  
    color: #fff !important;
    font-size: 1.06667rem;
    border-top: 2px solid #666 !important;
}
     
}
tr.series td {
    color: #666666;
    }

tr.subseries td {
    border-top: 2px solid #666 !important;
    background-color:  #fff !important; 
    padding: 20px;
    }
*/

.containerTypes {
   font-weight:bold;
   /*text color*/
   color:#666;  
}
.containerTypes td {
    background-color: #d9d9d9;
    border-bottom: 1px solid #ccc;  
    border-top: 1px solid #ccc;

}
.container {
    font-weight:normal !important;
    padding-left: 12px;
    text-align:left;
}


/* --- Clevel Margins --- */
table td.c {
    padding-left: 0px;
}

.collectionNote {
    margin-left: 20px !important;
}

.collectionNote p {
        font-size:  0.8rem !important;  
        color: #666666;
        font-weight: normal !important;
        padding-left: 0px !important;
    }

p.note-style {
    font-size:  0.8rem !important;
    color: #666666 !important;
    font-weight: normal !important;

}

/* when note-style class missing */
.c02 p:nth-child(3) {
    font-size:  0.8rem !important;  
    color: #666666;
    font-weight: normal !important;
}

.c01 {
   /* padding: 20px 0px 20px 10px; */
    padding: 0px 0px 0px 10px; 
    font-size: 1.33333rem;
    color: #666666;

}

td.c01 {
 /*  text-transform: uppercase; */
   font-weight:900;
   border-bottom: 2px solid #666 !important; 
   border-top: none !important;
}


/*.series td.c01 h3 {
    padding-top: 20px;
    text-transform: uppercase;
}
.series td.c01 p {
    padding-left: 8px;
    padding-top: 10px;

}

.series > td.c01 p:first-child {
    text-transform: uppercase;
}
*/

.c02 {
   padding-left: 30px;
   font-size: 0.938em;/*1.06667rem*/
   /*font-weight: 700;*/
   color: #666666 !important;
   font-family: "neue", "Arial", Helvetica, sans-serif;
}
  .c02 p {
   font-size: 0.938em; /*1.06667rem*/
   /*font-weight: 700;*/
   color: #666666 !important;
    }   


/*tr.even td.c02 p, tr.odd td.c02 p {
    text-transform: uppercase;
    color: #666666 !important;
    font-weight: 700;

}*/


/*.subseries td.c02 p:first-child {
    text-transform: uppercase;
    color: #666666 !important;
    font-weight: 700 !important;
}*/



.c03 {
    padding-left: 60px;
}

td.c03 p {
    /*font-size: 90%;*/
    color: #666;
  /*  font-weight: 700 !important; */
}

td.c03 {
    font-size: 90%;
    color: #666;
   /* font-weight: 700 !important; */
}


.c03 p:first-child {
    font-size: 1rem;
    color: #333;
    /*font-weight: 700 !important;*/
   
}
table td.c04 {
    padding-left: 90px;
   /* font-size: 100%;*/
}
table td.c05 {
    padding-left: 120px;
}
table td.c06 {
    padding-left: 150px;
}
table td.c07 {
    padding-left: 180px;
}
table td.c08 {
    padding-left: 210px;
}

table.chronlist tr td:nth-child(2) {
    text-align: left;
    padding: 15px 12px;
}

.address {
    margin-bottom: 20px;
    font-size: 1rem;
    display: block;
margin-right: 0px;
margin-bottom: 2px;
margin-left: 25px;
}

.seriesNote {
font-size: 90%;
margin-top: -8px;
padding-top: 0;
display: block;
padding-left: 30px;
padding-right: 30px;
color: #666;
font-weight: normal;
margin-bottom: 0;
padding-bottom: 0;

}

.unittitle {
    font-weight: bold;
}

.more {/*display:none;*/}

/*-- Styles added for multiple instances --*/
.containerDiv {float:left; width:72px; margin-left:2px; margin-right:8px; padding-left:4px;}
.multipleInstanceContainers {clear:both; margin-left: 8px;}
.containerHeader {text-align:left;}